:root {
  --mainMaroonColor:97, 3, 69;
  --mainLightBlueColor:84, 198, 235;
}
@font-face{
  font-family: "Gabarito";
  src: url("./fonts/Gabarito-VariableFont_wght.ttf") format("truetype");
}
@font-face{
  font-family: "Outfit";
  src: url("./fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}
@font-face{
  font-family: "Tenor Sans";
  src: url("./fonts/TenorSans-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-family: Outfit;
}
li, .footer2 .row_col {
  font-family: Tenor Sans;
}
p {
  font-family: Gabarito;
}
nav {
  display: none;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
header {
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  padding-left: 70px;
  font-size:1.8em;
  line-height: 50px;
  background-image: url(docs/Logos/PassLockr.png);
  background-repeat: no-repeat;
  background-size: auto 40px;
  background-position: 2px 5px;
  z-index: 2;
  border-bottom: 2px solid #e2e2e2;
  font-weight: bold;
}
.homepage, .contact, .login {
  padding-top: 50px;
}
.login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login > h1 {
  font-size: 24px;
  text-align: center;
}
#forgotPassword, #signIn {
  border: 1px solid #000;
  border-radius: 40px;
  min-width: 100px;
  height: 40px;
  margin: 10px 20px 10px 20px;
  max-width: 500px;
  width: 80%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  transition: all 0.3s ease-out;
}
#signIn {
  background-color: rgba(var(--mainMaroonColor),0.6);
  color: white;
}
#signIn:hover {
  background-color: rgba(var(--mainMaroonColor),1);
}
#forgotPassword:hover {
  background-color: black;
  color: white;
}
.homeIcon {
  width: 200px;
  height: auto;
  max-width: 100%;
  padding-bottom: 80px;
}
.contact .top_left {
  height: 150px;
  justify-content: end;
}
.contact #firstSection > p {
  width: 100%;
  text-align: center;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
#contact_options {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 100px 0px;
}
.options {
  min-height: 200px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgb(var(--mainMaroonColor));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  width: 350px;
}
.options .row1 {
  padding: 0px 10px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.options p {
  padding: 10px 10px 5px 10px;
  font-size: 15px;
}
.options .contactButton a {
  text-decoration: none;
  color: white;
}
.options .contactButton {
  margin: 5px 10px;
  padding: 7px;
  width: 120px;
  background-color: rgb(var(--mainMaroonColor));
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(var(--mainLightBlueColor));
}
.flex-row {
  display: flex;
}
.hoverOver {
  position: absolute;
  z-index: 2;
  background-color: rgba(0,0,0,0.8);
  color: white;
  transition: padding-top 0.4s ease-out;
  opacity: 0;
  padding-top: 60px;
  text-align: center;
}
.hoverOver:hover {
  opacity: 1;
  padding-top: 0px;
}
.fa-building, .fa-lightbulb, .fa-circle-question, .fa-handshake {
  left: 0;
  top: 0;
  font-size: 30px;
  position: relative;
  color: rgb(var(--mainLightBlueColor))
}
.contact .bottom_right {
  min-height: 300px;
  height: auto;
  font-weight: normal;
  padding-right: 15px;
  font-size: 1.5em;
}
#firstSection, #thirdSection {
  background-color: white;
}
#secondSection {
  background-color: rgba(var(--mainLightBlueColor),0.3);
}
.fa-solid.fa-bars, .fa-solid.fa-x {
  float:right;
  padding:15px;
  font-size: 20px;
  color: black;
}
#secondSection, #thirdSection {
  height: auto;
  width:100%;
}
.top_left, .bottom_right, .doubleStack {
  display: flex;
  width: 100%;
  height: 300px;
  font-weight: bold;
  padding: 10px;
  font-size: 2em;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.bottom_right {
  text-align: left;
  padding-left: 10%;
}
#firstSection {
  padding: 0px 70px;
  text-align: left;
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-weight: bold;
  font-size: 2.5em;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}
.colorLayer, .fullColor {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: absolute;
  color:white;
}
.colorLayer {
  z-index: -1;
  opacity: 0;
}
.fullColor {
  z-index: -3;
  opacity: 0.2;
  transition: all 0.3s ease-out;
}
.changeColor  {
  animation: homeAbstract 5s;
}
#abstract {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url("docs/Logos/abstract.jpg");
  background-size: cover;
  filter: grayscale(100%);
  z-index: -3;
  position: absolute;
  opacity: 0.4;
}
#firstSection #marketing {
  height: 50px;
  width: 120px;
  background-color:#a4b6c6f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  border-radius: 20px;
}
#firstSection #marketing a {
  text-decoration: none;
  color: black;
}
.doubleStack {
  display: flex;
  width: 100%;
  height: 300px;
  font-weight: bold;
  padding: 10px;
  font-size: 2em;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex: 1;
}
#firstSection .top_left, #secondSection .bottom_right {
  flex: 2;
}
.row_col {
  flex: 1;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid black
}
.row_col:first-child {
  border-right: 1px solid black;
}
ol {
  padding: 10px;
  text-align: left;
  margin: 20px;
}
footer {
  min-height: 270px;
  height: auto;
  background-color: #e2e2e2;
  width: 100%;
  display: flex;
  margin-bottom: -5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgb(var(--mainMaroonColor));
  font-weight: normal;
  padding: 30px 5px 30px 5px;
}
footer input, footer input:focus {
  text-align: center;
  border-radius: 50px;
  border: none;
  color: rgb(var(--mainMaroonColor));
  width: 50%;
  outline: none;
}
.col1, .col2, .col3, .col4, .col5 {
  width: 100%;
  text-align: center;
  color: rgb(164, 182, 198);
  padding-top: 5px;
  padding-bottom: 2px;
  }
.col1, .col2, .col3, .col4 {
flex: 1;
}
.col5 {
  flex:2;
}
footer p, footer a {
  text-align: center;
  color: rgb(var(--mainMaroonColor));
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
}
.copyright {
  width: 100%;
  background-color: darkgrey;
  display: block;
}
.footer2 {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(164, 182, 198);
}
.footer2 .row_col {
  font-size: 10px;
  border: none;
}
#testimonials {
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(97,3,69,1) 0%, rgba(255,255,255,1) 100%);
}
#testimonials p {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
#slide1, #slide2, #slide3 {
  width:100%;
  font-weight: bold;
}
.playSlider{
  animation: slider 6000ms infinite ease-out;
}
.navWindow {
  height: calc(100% - 50px);
  width: 100%;
  background-color: rgba(164, 182, 198, 0.95);
  z-index: 3;
  position: fixed;
  top: 50px;
  animation: fadeIn 0.2s ease-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.navLinks {
  padding: 10px 16px;
  color: black;
  animation: navLinks-fadeIn 0.4s ease-out;
}
.navLinks a {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.hide {
  display: none !important;
}
.fadeIn {
  animation: fa-fadeIn 100ms ease-out;
}
.fadeOut {
  animation: fa-fadeOut 100ms ease-out;
}
@keyframes homeAbstract {
  0% {
    opacity: 0.4;
    left: 0;
    width: 0px;
  }
  50% {
    opacity: 0.4;
    width: 100%
  }
  100% {
    opacity: 0.3;
    left: 100%;
  }
}
@keyframes slider {
  0% {
    color: transparent;
  }
  10% {
    color:rgb(var(--mainLightBlueColor));
  }
  90% {
    color: black;
  }
  100% {
    color:transparent;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navLinks-fadeIn {
  0% {
    opacity: 0;
    padding: 50px 0px;
  }
  100% {
    opacity: 1;
    padding: 10px 16px;
  }
}
@keyframes fa-fadeIn {
  0% {
    opacity: 0;
    font-size: 10px;
    padding: 20px;
  }
  100% {
    opacity: 1;
    font-size: 20px;
    padding: 15px;
  }
}
@keyframes fa-fadeOut {
  0% {
    opacity: 1;
    font-size: 20px;
    padding: 15px;
  }
  100% {
    opacity: 0;
    font-size: 10px;
    padding: 20px;
  }
}
@media (min-width:800px){
  #secondSection {
    display: flex;
  }
  .doubleStack {
    flex-direction: column;
  }
  .row_col {
    border-right: 1px solid black;
    border-bottom: none;
  }
  .row_col:first-child {
    border-bottom: 1px solid black;
  }
  footer {
    flex-direction: row;
  }
  #testimonials p {
    font-size: 30px;
  }
  .fa-building, .fa-lightbulb, .fa-circle-question, .fa-handshake {
    left: -220px;
    top: 130px;
  }
}
