:root {
  --mainMaroonColor:97, 3, 69;
  --mainLightBlueColor:84, 198, 235;
  --headerFont: Anton, sans;
  --contentFont: Merriweather Sans, sans;
}
* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
nav {
  display: none;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
header {
  height: 50px;
  width: 100%;
  background-color: rgba(var(--mainMaroonColor),1);
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding-left: 50px;
  font-size:2em;
  line-height: 50px;
  background-image: url(docs/Logos/PassLockr.png);
  background-repeat: no-repeat;
  background-size: auto 40px;
  background-position: 0px 5px;
  z-index: 2;
}
.homepage, .contact, .login {
  padding-top: 50px;
}
.login {
  height: 100vh;
  width: 100vw;
  background-image: url(docs/Logos/PassLockr.png);
  background-repeat: no-repeat;
  background-size: auto 40px;
  background-position: 0px 5px;
}
.contact .top_left {
  height: 150px;
  justify-content: end;
}
.contact #firstSection > p {
  width: 100%;
  text-align: center;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
#contact_options {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.options {
  min-height: 200px;
  width: 75%;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgb(var(--mainMaroonColor));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.options .row1 {
  padding: 0px 10px;
  width: 100%;
  font-weight: bold;
  font-size: 18px
}
.options p {
  padding: 10px 10px 5px 10px;
  font-size: 12px;
}
.options .contactButton a {
  text-decoration: none;
  color: white;
}
.options .contactButton {
  margin: 5px 10px;
  padding: 7px;
  max-width: 120px;
  background-color: rgb(var(--mainMaroonColor));
  border-radius: 10px;
  text-align: center;
}
.fa-building, .fa-lightbulb, .fa-circle-question, .fa-handshake {
  padding-right: 20px;
  left: -41%;
  top: 130px;
  font-size: 30px;
  position: relative;
  color: rgb(var(--mainLightBlueColor))
}
.contact .row_col:nth-child(2) {
  background-image: url('./docs/Logos/Profile.jpg');
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.contact .bottom_right {
  min-height: 300px;
  height: auto;
  font-weight: normal;
  padding-right: 15px;
}
#firstSection, #thirdSection {
  background-color: white;
}
#secondSection {
  background-color: rgba(var(--mainLightBlueColor),0.3);
}
.fa-solid.fa-bars, .fa-solid.fa-x {
  color: white;
  float:right;
  padding:15px;
  font-size: 20px;
}
#firstSection, #secondSection, #thirdSection {
  height: auto;
  width:100%;
}
.top_left, .bottom_right, .doubleStack {
  display: flex;
  width: 100%;
  height: 300px;
  font-weight: bold;
  padding: 10px;
  font-size: 2em;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#firstSection .bottom_right {
  flex: 1;
}
.doubleStack {
  display: flex;
  width: 100%;
  height: 300px;
  font-weight: bold;
  padding: 10px;
  font-size: 2em;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex: 1;
}
#firstSection .top_left, #secondSection .bottom_right {
  flex: 2;
}
.row_col {
  flex: 1;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid black
}
.row_col:first-child {
  border-right: 1px solid black;
}
ol {
  margin: auto;
  padding: 10px;
  text-align: left;
}
footer {
  min-height: 270px;
  height: auto;
  background-color: #e2e2e2;
  width: 100%;
  display: flex;
  margin-bottom: -5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgb(var(--mainMaroonColor));
  font-weight: normal;
  padding: 30px 5px 30px 5px;
}
footer input, footer input:focus {
  text-align: center;
  border-radius: 50px;
  border: none;
  color: rgb(var(--mainMaroonColor));
  width: 50%;
  outline: none;
}
.col1, .col2, .col3, .col4, .col5 {
  width: 100%;
  text-align: center;
  color: rgb(164, 182, 198);
  padding-top: 5px;
  padding-bottom: 2px;
  }
.col1, .col2, .col3, .col4 {
flex: 1;
}
.col5 {
  flex:2;
}
footer p, footer a {
  text-align: center;
  color: rgb(var(--mainMaroonColor));
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
}
.copyright {
  width: 100%;
  background-color: darkgrey;
  display: block;
}
.footer2 {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(164, 182, 198);
}
.footer2 .row_col {
  font-size: 10px;
  border: none;
}
#testimonials {
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(97,3,69,1) 0%, rgba(255,255,255,1) 100%);
}
#testimonials p {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
#slide1, #slide2, #slide3 {
  width:100%;
  font-weight: bold;
}
.playSlider{
  animation: slider 6000ms infinite ease-out;
}
.navWindow {
  height: calc(100% - 50px);
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 3;
  position: fixed;
  top: 50px;
  animation: fadeIn 0.2s ease-out;
  justify-content: top;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.navLinks {
  padding-bottom: 8px;
}
.navLinks a {
  font-size: 40px;
  text-decoration: none;
  color: white;
  padding-bottom: 7px;
}
.hide {
  display: none !important;
}
.fadeIn {
  animation: fa-fadeIn 100ms ease-out;
}
.fadeOut {
  animation: fa-fadeOut 100ms ease-out;
}
@keyframes slider {
  0% {
    color: transparent;
  }
  10% {
    color:rgb(var(--mainLightBlueColor));
  }
  90% {
    color: black;
  }
  100% {
    color:transparent;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fa-fadeIn {
  0% {
    opacity: 0;
    font-size: 10px;
    padding: 20px;
  }
  100% {
    opacity: 1;
    font-size: 20px;
    padding: 15px;
  }
}
@keyframes fa-fadeOut {
  0% {
    opacity: 1;
    font-size: 20px;
    padding: 15px;
  }
  100% {
    opacity: 0;
    font-size: 10px;
    padding: 20px;
  }
}
@media (min-width:800px){
  #secondSection {
    display: flex;
  }

  .doubleStack {
    flex-direction: column;
  }
  .row_col {
    border-right: 1px solid black;
    border-bottom: none;
  }
  .row_col:first-child {
    border-bottom: 1px solid black;
  }
  footer {
    flex-direction: row;
  }
  #testimonials p {
    font-size: 30px;
  }
  #contact_options {
    flex-direction: row;
    padding-right: 20px;
    padding-left: 0px;
  }
  .options {
    min-height: 250px;
    margin: 0px;
    width: 100%
  }
  .fa-building, .fa-lightbulb, .fa-circle-question, .fa-handshake {
    padding-right: 5px;
    left: 2px;
    top: 0;
  }
}
